/* Thoughts.css */
  .overlay {
    background-color: rgba(255, 255, 255, 0.4); 
    color: rgb(248, 65, 65);
    text-shadow: 0 0.5px 0.5px rgba(248, 102, 102, 0.88); 
    padding: 20px;
    border-radius: 25px;
    width: 420px; 
    height: 320px; 
    box-shadow: 0 4px 8px rgba(185, 183, 183, 0.903); 
    position: relative; 
    top: 25%; 
    left: 0%; 
    transform: translateX(-50%); 
    z-index: 1000; 
    border: 2px solid rgba(255, 255, 255, 0.4); 
    font-weight: 400;
  }
  
.thoughts {
  animation: swapPosition 8s steps(1, end) infinite;
}

@keyframes swapPosition {
  0%, 100% {
    transform: translateY(0px); 
  }
  50% {
    transform: translateY(0px); 
  }
}


.overlay p {
  margin: 0;
  font-size: 2.0rem; 
  text-align: center;
}

  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .overlay {
      width: 250px;
      height: 150px; 
      top: 20%; 
      padding: 15px;
      left: 30%; 
      transform: translateX(-50%); 
    }
  
    .overlay p {
      font-size: 1rem; 
    }
  }
  
  @media (max-width: 480px) {
    .overlay {
      width: 160px;
      height: 110px; 
      top: 40%; 
      padding: 10px; 
      left:0%; 
      transform: translateX(-50%); 
    }
  
    .overlay p {
      font-size: 0.8rem; 
    }
  }
  